###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=your_secret_here
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:@127.0.0.1:3306/farmvision_db?serverVersion=10.4.32-MariaDB&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###

###> openweather api ###
# Get your free API key from: https://openweathermap.org/api
# Copy this file to .env.local and add your real API key there
###> openweather api ###
OPENWEATHER_API_KEY=10f4b8f78ff1854d402feade0f123605
###< openweather api ###

###> openrouter ai ###
OPENROUTER_API_KEY=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
###< openrouter ai ######< openweather api ###

###> websocket ###
# WebSocket server URL
WEBSOCKET_URL=ws://localhost:8080
###< websocket ###
###> telegram bot ###
# Get your bot token from @BotFather on Telegram
# Get your chat ID by running: php bin/console app:telegram:get-chat-id
TELEGRAM_BOT_TOKEN=8625436381:AAGLx8sAJfK7JtQEadpAixlcwVyp9nbaLEQ
TELEGRAM_BOT_USERNAME=Farmvision2026bot
TELEGRAM_ADMIN_CHAT_ID=8427250139
###< telegram bot ###
